<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VigilantCupcake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;lib/net45" />
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.60717.93" newVersion="2.8.60717.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <VigilantCupcake.Properties.Settings>
      <setting name="RemoteLocationSyntax" serializeAs="String">
        <value>#Remote:</value>
      </setting>
      <setting name="DnsFlushCommand" serializeAs="String">
        <value>ipconfig</value>
      </setting>
      <setting name="DnsFlushArguments" serializeAs="String">
        <value>/flushdns</value>
      </setting>
      <setting name="DnsFlushCommandMac" serializeAs="String">
        <value>killall</value>
      </setting>
      <setting name="DnsFlushArgumentsMac" serializeAs="String">
        <value>-HUP mDNSResponder</value>
      </setting>
      <setting name="DnsFlushCommandLinux" serializeAs="String">
        <value>nscd</value>
      </setting>
      <setting name="DnsFlushArgumentsLinux" serializeAs="String">
        <value>-I hosts</value>
      </setting>
      <setting name="WindowsHostsFilePath" serializeAs="String">
        <value>System32\drivers\etc\hosts</value>
      </setting>
      <setting name="LinuxHostsFilePath" serializeAs="String">
        <value>/etc/hosts</value>
      </setting>
      <setting name="FragmentFileExtension" serializeAs="String">
        <value>.txt</value>
      </setting>
      <setting name="LineCleaningRegex" serializeAs="String">
        <value>\r\n|\n\r|\n|\r</value>
      </setting>
      <setting name="LineCleaningReplacement" serializeAs="String">
        <value>\r\n</value>
      </setting>
      <setting name="ReleasesUrl" serializeAs="String">
        <value>http://vigilantcupcake.com/Releases</value>
      </setting>
      <setting name="NuspecId" serializeAs="String">
        <value>vigilantcupcake</value>
      </setting>
      <setting name="UserSettingsFile" serializeAs="String">
        <value>settings.json</value>
      </setting>
      <setting name="UpdateCheckInterval" serializeAs="String">
        <value>1800000</value>
      </setting>
      <setting name="WebsiteUrl" serializeAs="String">
        <value>http://vigilantcupcake.com</value>
      </setting>
    </VigilantCupcake.Properties.Settings>
  </applicationSettings>
</configuration>