<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VigilantCupcake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VigilantCupcake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <VigilantCupcake.Properties.Settings>
      <setting name="RemoteLocationSyntax" serializeAs="String">
        <value>#Remote:</value>
      </setting>
      <setting name="DnsFlushCommand" serializeAs="String">
        <value>ipconfig</value>
      </setting>
      <setting name="DnsFlushArguments" serializeAs="String">
        <value>/flushdns</value>
      </setting>
      <setting name="DnsFlushCommandMac" serializeAs="String">
        <value>killall</value>
      </setting>
      <setting name="DnsFlushArgumentsMac" serializeAs="String">
        <value>-HUP mDNSResponder</value>
      </setting>
      <setting name="DnsFlushCommandLinux" serializeAs="String">
        <value>nscd</value>
      </setting>
      <setting name="DnsFlushArgumentsLinux" serializeAs="String">
        <value>-I hosts</value>
      </setting>
      <setting name="WindowsHostsFilePath" serializeAs="String">
        <value>System32\drivers\etc\hosts</value>
      </setting>
      <setting name="LinuxHostsFilePath" serializeAs="String">
        <value>/etc/hosts</value>
      </setting>
      <setting name="FragmentFileExtension" serializeAs="String">
        <value>.txt</value>
      </setting>
      <setting name="LineCleaningRegex" serializeAs="String">
        <value>\r\n|\n\r|\n|\r</value>
      </setting>
      <setting name="LineCleaningReplacement" serializeAs="String">
        <value>\r\n</value>
      </setting>
    </VigilantCupcake.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <VigilantCupcake.Properties.Settings>
      <setting name="AutoSaveOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MergeHostsEntries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinutesBetweenDownloads" serializeAs="String">
        <value>3600000</value>
      </setting>
      <setting name="DownloadInBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseToTray" serializeAs="String">
        <value>False</value>
      </setting>
    </VigilantCupcake.Properties.Settings>
  </userSettings>
</configuration>