<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="NuGet.Core" version="2.8.6" targetFramework="net46" />
  <package id="Splat" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="squirrel.windows" version="0.99.2" targetFramework="net46" />
  <package id="TreeViewAdv" version="1.7.0.0" targetFramework="net45" developmentDependency="true" />
</packages>